.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90vw;
  padding: 1rem;
  flex-wrap: nowrap;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
